### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

Java Advanced Exercise.iml
.idea/
src/streams_files_dirs/exercises/resources/output*
src/streams_files_dirs/exercises/resources/copy.jpg